{% extends 'base.html' %} {% block content %}
<header>
  <h2>All Yarn Colours</h2>
</header>

{% for group in yarn_groups %}
<details open>
  <summary>{{group}}</summary>
  <section class="colour-yarn-details">
    <a href="{{ url_for('colours.create_colour', yarn_id=yarn_groups[group][0].yarn.id) }}"><span class="material-symbols-outlined" title="Add Colour">
      add_circle
      </span></a>
    <a href="{{ url_for('yarns.detail', id=yarn_groups[group][0].yarn.id) }}"><img
      class="icon-image"
      src="{{ url_for('static', filename='/images/icons/yarn_ball.png') }}"
      alt="yarn icon"
      title="View Yarn"
  /></a>
  
  
  </section>
  <table class="colour-table colour-dots">
    <thead>
      <tr>
        <th>Name</th>
        <th>Colour</th>
        <th>Quantity</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    {% for colour in yarn_groups[group] %}
    <tr>
      <td>{{colour.name}}</td>
      <td>
        <span
          class="material-symbols-outlined colour-dots"
          style="color: {{colour.hex_code}}"
        >
          circle
        </span>
      </td>
    </td>
    <td>{{colour.stock_quantity}}
      {% if colour.low_stock and colour.stock_quantity > 0 %}
      <span class="material-symbols-outlined stock-low-icon">
        warning
        </span>
      {% endif %}

      {% if colour.stock_quantity == 0 %}
      <span class="material-symbols-outlined stock-zero-icon">
        warning
        </span>
      {% endif %}

    </td>
    <td>
      <a href="{{ url_for('colours.edit_colour', id=colour.id) }}"><span class="material-symbols-outlined"> edit </span></a>
    </td>
    <td>
      <a href="{{ url_for('colours.delete', id=colour.id) }}"><span class="material-symbols-outlined"> close </span></a>
    </td>
    </tr>
    {% endfor %}
  </table>
</details>
{% endfor %}


{% endblock content %}
