{% extends 'base.html' %} {% block content %}

<section>
  <h1>New Colour</h1>
  <form
    action="{{ url_for('colours.create_colour', yarn_id=yarn.id) }}"
    method="post"
    enctype="multipart/form-data"
  >
    <label for="name">Name: </label>
    <input type="text" id="name" name="name" />
    <label for="colour">Colour: </label>
    <input type="color" id="colour" name="colour" />
    <label for="quantity">Quantity: </label>
    <input type="number" min="0" id="quantity" name="quantity" />
    <label for="yarn">Yarn: </label>
    <input
      type="text"
      id="yarn"
      name="yarn"
      value="{{yarn.manufacturer.name}} - {{yarn.name}}"
      disabled
    />
    <div class="submit-button">
      <button type="submit" name="submit">Save</button>
    </div>
    <div class="submit-button">
      <button type="submit" name="submit-another" value="1">
        Save And Add Another
      </button>
    </div>
  </form>
</section>

{% endblock content %}
