{% extends 'base.html' %} {% block content %}
<header>
  <h2>All Yarns</h2>
  <a href="{{ url_for('yarns.create_yarn') }}"
    ><button class="p1">
      <span class="material-symbols-outlined"> add </span
      ><img
        class="icon-image"
        src="{{ url_for('static', filename='/images/icons/yarn_ball.png') }}"
        alt="yarn icon"
      /></button
  ></a>
</header>

<table class="yarn-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Manufacturer</th>
      <th>Yarn Weight</th>
      <th>Ball Weight</th>
      <th>Buy Cost</th>
      <th>Sell Price</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    {% for yarn in yarns %}
    <tr>
      <td>{{yarn.name}}</td>
      <td>{{yarn.manufacturer.name}}</td>
      <td>{{yarn.yarn_weight}}</td>
      <td>{{yarn.ball_weight_grams}}g</td>
      <td>{{yarn.format_currency(yarn.buy_cost)}}</td>
      <td>{{yarn.format_currency(yarn.sell_price)}}</td>
      <td>
        <a href="{{ url_for('yarns.detail', id=yarn.id) }}"
          ><img
            class="icon-image"
            src="{{ url_for('static', filename='/images/icons/yarn_ball.png') }}"
            alt="yarn icon"
        /></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}
