{% extends 'base.html' %} {% block content %}

<section>
  <aside class="details-card p1 dark-border">
    <h2>{{yarn.manufacturer.name}} - {{ yarn.name }}</h2>
    <section class="details-content p1">
      <img
        class="yarn-product-img"
        src="{{ url_for('static', filename='/images/yarns/' + yarn.image) }}"
        alt="yarn product image"
      />

      <aside class="flex-col flex-gap-1 p1">
        <div>
          Yarn Weight:
          <h4>{{ yarn.yarn_weight }}</h4>
        </div>
        <div>
          Ball Weight:
          <h4>{{ yarn.ball_weight_grams }}g</h4>
        </div>
        <div>
          Length:
          <h4>{{ yarn.length_metres }}m</h4>
        </div>
        <div>
          Needle Size:
          <h4>{{ yarn.needle_size_mm }}mm</h4>
        </div>
        <div>
          Fibre Type:
          <h4>{{ yarn.fibre_type }}</h4>
        </div>
      </aside>
      <aside class="flex-col flex-gap-1 p1">
        <div>
          Buy Cost:
          <h4>{{ yarn.format_currency(yarn.buy_cost) }}</h4>
        </div>
        <div>
          Sell Price:
          <h4>{{ yarn.format_currency(yarn.sell_price) }}</h4>
        </div>
        <div>
          Profit Margin:
          <h4>{{ yarn.format_currency(yarn.margin) }}</h4>
        </div>
      </aside>
    </section>
    <section class="flex-col colour-dots">
      <h3>Stock:</h3>
      <table class="stock-table">
        <thead>
          <tr>
            <th></th>
            <th>Quantity</th>
            <th>Place Order</th>
          </tr>
        </thead>
        <tbody>
          {% for colour in colours %}
          <tr>
            <td class="flex-gap-1">
              <span
                class="material-symbols-outlined"
                style="color: {{colour.hex_code}}"
                title="{{colour.name}}"
              >
                circle
              </span>
              {{colour.name}}
            </td>
            <td>
              {{colour.stock_quantity}} {% if colour.low_stock and
              colour.stock_quantity > 0 %}
              <span class="material-symbols-outlined stock-low-icon">
                warning
              </span>
              {% endif %} {% if colour.stock_quantity == 0 %}
              <span class="material-symbols-outlined stock-zero-icon">
                warning
              </span>
              {% endif %}
            </td>
            <td>{% include '/components/order_stock.html' %}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
    <div class="details-controls">
      <a href="{{ url_for('colours.create_colour', yarn_id=yarn.id) }}"
        ><span class="material-symbols-outlined"> add_circle </span></a
      >
      <a href="{{ url_for('yarns.edit_yarn', id=yarn.id) }}">
        <span class="material-symbols-outlined">edit</span>
      </a>
      <a href="{{ url_for('yarns.delete_yarn', id=yarn.id) }}">
        <span class="material-symbols-outlined"> delete </span>
      </a>
    </div>
  </aside>
</section>
{% endblock content %}
