@import "style.css";

form {
    width: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2rem;
}

form img {
    width: 6rem;
    padding: 2rem;
}

input {
    padding: 0.7rem;
    background-color: #f4f2f2;
}

input#colour {
    padding: 0;
}

select {
    padding: 0.7rem;
}

.submit-button {
    margin-top: 2rem;
}

.order-stock > input {
    padding: 0.5rem;
    height: 1.5rem;
    width: 3rem;
}
