@import "./style.css";
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


/* -------- LANDING PAGE -------- */

.index-page {
    padding: 3rem;
}

.index-page section {
    display: flex;
    justify-content: space-around;
    gap: 3rem;
}

.index-page img {
    width: 50%;
    border-radius: 15px 50px;
}

.main-text {
    margin-top: 3rem;
    margin-left: 3rem;
}

.main-text h1 {
    color: var(--dark);
    font-family: 'Pacifico', cursive;
}

.main-text h4 {
    color: var(--mid);
}

button {
    margin-top: 2rem;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    background-color: var(--dark);
    color: var(--light1);
    font-weight: 600;
    font-family: 'Pacifico', cursive;
    letter-spacing: 0.25rem;

}