@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root {
    --dark: #2c466c;
    --dark2: #3e1e27;
    --mid: #772342;
    --mid2: #164369;
    --mid3: #8b817c;
    --light1: #d5d7d6;
    --light2: #ace1ed;
}

body {
    width: 80%;
    margin: auto;
    background-color: var(--light1);
    font-family: 'Quicksand', sans-serif;
    color: var(--mid3);
}

button {
    border: none;
    border-radius: 5px;
    padding: 1rem;
    background-color: var(--mid2);
    color: var(--light1);
}

/* -------- NAVBAR -------- */

nav {
    padding-right: 2rem;
    padding-top: 2rem;
    background-color: var(--mid);
}

nav a {
    text-decoration: none;
    color: var(--light1);
    padding: 0.5rem;
}

nav a:hover {
    border: 3px solid var(--dark2);
}

nav li {
    list-style: none;
    padding: 0.5rem;
}

/* -------- MAIN -------- */

main {
    display: flex;
    gap: 2rem;
}

main section {
    padding: 3rem;
}


/* -------- FOOTER -------- */

footer {
    padding: 2rem;
    background-color: var(--mid3);
}


/*       ICONS       */

.icon-image {
    width: 2rem;
}