@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root {
    --dark: #2c466c;
    --dark2: #2e171d;
    --mid: #772342;
    --mid2: #591c32;
    --mid3: #6a5e5c;
    --light1: #e2e2e2;
    --light2: #cfcccc;
}

body {
    margin: auto;
    font-family: 'Quicksand', sans-serif;
    color: var(--mid3);
}

body > main {
    background-color: var(--light1);
}

body > main > section {
    padding: 3rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-weight: 800;
    letter-spacing: 0.2rem;
    font-size: 2rem;
}

button {
    border: none;
    border-radius: 5px;
    padding: 1rem;
    background-color: var(--dark);
    color: var(--light1);
    font-weight: 600;
}

/* -------- NAVBAR -------- */

nav {
    background-color: var(--mid);
    padding: 2rem;
}

nav a {
    text-decoration: none;
    color: var(--light1);
    padding: 0.5rem;
}

nav a:hover {
    border: 3px solid var(--mid2);
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}

nav li {
    list-style: none;
    padding-top: 1rem;
}

/* -------- MAIN -------- */

main {
    display: flex;
    gap: 2rem;
}


/* -------- FOOTER -------- */

footer {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background-color: var(--mid3);
}

footer a {
    color: var(--light2);
}


/* -------- DETAILS CARDS -------- */

.details-card {
    border: 1px solid var(--dark);
    margin: 3rem;
    padding: 1rem;
    color: var(--dark);
    border-radius: 5px;
}

.details-content {
    display: flex;
    gap: 1.5rem;
    border-top: 1px solid var(--dark2);
    border-bottom: 1px solid var(--dark2);
}

.details-content h4 {
    color: var(--mid);
}

.details-controls {
    padding-top: 1rem;
    display: flex;
    justify-content: space-around;
}

.details-icon {
    color: var(--dark);
}

