@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root {
    --dark: #2c466c;
    --dark2: #2e171d;
    --mid: #772342;
    --mid1:#2b5a8b;
    --mid2: #591c32;
    --mid3: #837775;
    --light1: #ececec;
    --light2: #d9d6d6;
}

body {
    margin: auto;
    font-family: 'Quicksand', sans-serif;
    color: var(--mid3);
}

body > main {
    background-color: var(--light1);
}

body > main > section {
    padding: 3rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-weight: 800;
    letter-spacing: 0.2rem;
    font-size: 2rem;
}

button {
    border: none;
    border-radius: 5px;
    padding: 1rem;
    background-color: var(--dark);
    color: var(--light1);
    font-weight: 600;
}

.colour-dots .material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

/* -------- NAVBAR -------- */

nav {
    background-color: var(--mid);
    padding: 2rem;
    min-width: 10rem;
}

nav a {
    text-decoration: none;
    color: var(--light1);
    padding: 0.6rem;
}

nav a:hover {
    border: 3px solid var(--mid2);
}

nav ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
}

nav li {
    list-style: none;
    padding-top: 1rem;
}

/* -------- MAIN -------- */

main {
    display: flex;
    gap: 2rem;
}


/* -------- FOOTER -------- */

footer {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background-color: var(--mid3);
}

footer a {
    color: var(--light2);
}


/* -------- DETAILS CARDS -------- */

.details-card {
    border: 1px solid var(--dark);
    margin: 3rem;
    padding: 1rem;
    box-shadow: 0.3rem 0.3rem 1rem 0.5rem #5c5c5c3c;
    background-color: var(--light2);
    color: var(--dark);
    border-radius: 5px;
}

.details-content {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
    border-top: 1px solid var(--dark2);
    border-bottom: 1px solid var(--dark2);
    padding: 1rem;
}

.details-content img {
    width: 6rem;
    border-radius: 5px;
}

.details-content aside {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.details-content h4 {
    color: var(--mid);
    margin: 0;
}

.details-controls {
    padding-top: 1rem;
    display: flex;
    justify-content: space-around;
}

.details-icon {
    color: var(--dark);
}

.colour-yarn-details {
    display: flex;
    justify-content: flex-end;
}

.colour-yarn-details p {
    margin: 0;
    padding: 0.5rem;
    border: 1px solid var(--dark);
    border-radius: 5px;
    font-size: 0.7rem;
}

.colour-yarn-details a {
    text-decoration: none;
}

figcaption.colour-dots {
    margin-top: 1rem;
}

#add-circle {
    color: var(--mid1);
}
