@import "style.css";

table {
    margin: 2rem;
    box-shadow: 0.3rem 0.3rem 1rem 0.5rem #5c5c5c3c;
    border-collapse: collapse;
}

thead {
    background-color: var(--dark);
    color: var(--light1);
}

tbody {
    background-color: var(--light2);
}

tbody tr {
    border-bottom: 1px solid var(--dark);
}

th, td {
    padding: 0.8rem 1.5rem;
    white-space: nowrap;
}

.manufacturer-table td:nth-child(4), 
.yarn-table td:nth-child(8), 
.colour-table {
    text-align: center;
}


.icon-image {
    width: 2rem;
}