{% extends 'base.html' %} {% block content %}
<header>
  <h2>All Manufacturers</h2>
  <a href="{{ url_for('manufacturers.create_manufacturer') }}"
    ><button>Add Manufacturer</button></a
  >
</header>

<table class="manufacturer-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Last Payment Date</th>
      <th>Balance Due</th>
      <th>View Details</th>
    </tr>
  </thead>
  <tbody>
    {% for manufacturer in manufacturers %}
    <tr>
      <td>{{manufacturer.name}}</td>
      <td>{{manufacturer.format_date_for_view()}}</td>
      <td>{{manufacturer.format_currency_balance()}}</td>
      <td>
        <a href="{{ url_for('manufacturers.detail', id=manufacturer.id) }}"
          ><img
            class="icon-image"
            src="{{ url_for('static', filename='/images/icons/yarn_ball.png') }}"
            alt="yarn ball icon"
        /></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}
