{% extends 'base.html' %} {% block content %}
<header>
  <h2>All Manufacturers</h2>
  <a href="{{ url_for('manufacturers.create_manufacturer') }}"
    ><button class="p1">
      <span class="material-symbols-outlined"> add </span
      ><span class="material-symbols-outlined"> factory </span>
    </button>
  </a>
</header>

<table class="manufacturer-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Last Payment Date</th>
      <th>Balance Due</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    {% for manufacturer in manufacturers %}
    <tr>
      <td>{{manufacturer.name}}</td>
      <td>{{manufacturer.format_date_for_view()}}</td>
      <td>{{manufacturer.format_currency_balance()}}</td>
      <td>
        <a href="{{ url_for('manufacturers.detail', id=manufacturer.id) }}"
          ><span class="material-symbols-outlined"> factory </span></a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}
