{% extends 'base.html' %} {% block content %}

<section>
  <aside class="details-card p1">
    <h2>{{ manufacturer.name }}</h2>
    <div class="details-content p1">
        <p>Last paid:
            <h4>{{ manufacturer.format_date_for_view() }}</h4></p>
      <p>Balance to pay:
        <h4>{{ manufacturer.format_currency_balance() }}</h4></p>
    </div>
    <div class="details-controls">
        <a href="{{ url_for('manufacturers.edit_manufacturer', id=manufacturer.id) }}">
            <span class="material-symbols-outlined">edit</span>
        </a>
      <a href="{{ url_for('manufacturers.delete_manufacturer', id=manufacturer.id) }}">
        <span class="material-symbols-outlined"> delete </span>
      </a>
    </div>
  </aside>
</section>
{% endblock content %}
