<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/tables.css" />
    <link rel="stylesheet" href="/static/css/forms.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <title>Yarn</title>
  </head>
  <body>
    <main>
      <nav>
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="{{ url_for('yarns.yarns') }}">Yarns</a></li>
          <li>
            <a href="{{ url_for('manufacturers.manufacturers') }}"
              >Manufacturers</a
            >
          </li>
        </ul>
      </nav>
      <section>{% block content %} {% endblock content %}</section>
    </main>
    <footer>
      <a
        href="https://www.flaticon.com/free-icons/knitting"
        title="knitting icons"
        >Knitting icons created by Freepik - Flaticon</a
      >
      <a href="https://www.pexels.com/photo/assorted-color-yarns-2062069/"
        >Landing page image courtesy of Surene Palvie @ Pexels</a
      >
    </footer>
  </body>
</html>
